// Define color variables
$primary-color: #007bff;
$secondary-color: #f7f7f7;
$font-stack: 'Arial', sans-serif;

body {
  font-family: $font-stack;
  background-color: $secondary-color;
  color: white;
}

.button {
  background-color: $primary-color;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
.MuiTextField-root {
  min-width: 200px !important;
}
/* index.css */

/* --- STEP ICON OVERRIDES --- */
.MuiStepIcon-root.Mui-active {
  /* active step circle */
  color: #4b5bdc !important;
}

.MuiStepIcon-root.Mui-completed {
  /* completed step circle */
  color: #0033cc !important;
}

/* Optional: thinner connector line */
.MuiStepConnector-line {
  border-top-width: 2px !important;
  border-color: #ccc !important;
}
